Source: ros-kilted-rqt-tf-tree
Section: misc
Priority: optional
Maintainer: Isaac I.Y. Saito <gm130s@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-mock <!nocheck>, python3-pytest <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://wiki.ros.org/rqt_tf_tree
Standards-Version: 3.9.2

Package: ros-kilted-rqt-tf-tree
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-kilted-python-qt-binding (>= 0.2.19), ros-kilted-qt-dotgraph, ros-kilted-rclpy, ros-kilted-rqt-graph, ros-kilted-rqt-gui, ros-kilted-rqt-gui-py, ros-kilted-tf2-msgs, ros-kilted-tf2-ros, ros-kilted-ros-workspace
Description: rqt_tf_tree provides a GUI plugin for visualizing the ROS TF frame tree.
