Source: ros-iron-rqt-tf-tree
Section: misc
Priority: optional
Maintainer: Isaac I.Y. Saito <gm130s@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-mock <!nocheck>, python3-pytest <!nocheck>, ros-iron-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://wiki.ros.org/rqt_tf_tree
Standards-Version: 3.9.2

Package: ros-iron-rqt-tf-tree
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-iron-python-qt-binding (>= 0.2.19), ros-iron-qt-dotgraph, ros-iron-rclpy, ros-iron-rqt-graph, ros-iron-rqt-gui, ros-iron-rqt-gui-py, ros-iron-tf2-msgs, ros-iron-tf2-ros, ros-iron-ros-workspace
Description: rqt_tf_tree provides a GUI plugin for visualizing the ROS TF frame tree.
